Repository kumasachin/dls: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

feat: Add new components - Breadcrumb, Pagination, and CardGrid
  .eslintignore
  e2e/searchbar-simple.spec.ts
  playwright.config.ts
  src/atomic/molecules/Breadcrumb/Breadcrumb.test.tsx
  src/atomic/molecules/Breadcrumb/Breadcrumb.tsx
  src/atomic/molecules/Pagination/Pagination.test.tsx
  src/atomic/molecules/Pagination/Pagination.tsx
  src/atomic/organisms/CardGrid/CardGrid.test.tsx
  src/atomic/organisms/CardGrid/CardGrid.tsx
  src/stories/atomic/molecules/Breadcrumb/Breadcrumb.stories.tsx
  src/stories/atomic/molecules/Pagination/Pagination.stories.tsx
  src/stories/atomic/organisms/CardGrid/CardGrid.stories.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

fix: TypeScript errors in Breadcrumb component
  src/atomic/molecules/Breadcrumb/Breadcrumb.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

fix
  src/stories/atomic/organisms/CardGrid/CardGrid.stories.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

package update
  package.json
Due: prettier --write

Convert repository to npm package
  .npmignore
  CHANGELOG.md
  README.md
  package.json
  src/atomic/atoms/Avatar/__tests__/Avatar.test.tsx
  src/atomic/atoms/Badge/__tests__/Badge.test.tsx
  src/atomic/atoms/Button/__tests__/Button.test.tsx
  src/atomic/atoms/Card/__tests__/Card.test.tsx
  src/atomic/atoms/Checkbox/__tests__/Checkbox.test.tsx
  src/atomic/atoms/IconButton/__tests__/IconButton.test.tsx
  src/atomic/atoms/Input/__tests__/Input.test.tsx
  src/atomic/atoms/Spinner/__tests__/Spinner.test.tsx
  src/atomic/atoms/Text/__tests__/Text.test.tsx
  src/atomic/molecules/InputWithLabel/__tests__/InputWithLabel.test.tsx
  src/atomic/molecules/SearchBar/__tests__/SearchBar.test.tsx
  src/index.ts
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

Remove empty test files that were causing test failures
  src/atomic/atoms/Avatar/__tests__/Avatar.test.tsx
  src/atomic/atoms/Badge/__tests__/Badge.test.tsx
  src/atomic/atoms/Button/__tests__/Button.test.tsx
  src/atomic/atoms/Card/__tests__/Card.test.tsx
  src/atomic/atoms/Checkbox/__tests__/Checkbox.test.tsx
  src/atomic/atoms/IconButton/__tests__/IconButton.test.tsx
  src/atomic/atoms/Input/__tests__/Input.test.tsx
  src/atomic/atoms/Spinner/__tests__/Spinner.test.tsx
  src/atomic/atoms/Text/__tests__/Text.test.tsx
  src/atomic/molecules/InputWithLabel/__tests__/InputWithLabel.test.tsx
  src/atomic/molecules/SearchBar/__tests__/SearchBar.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

Clean up codebase and finalize npm package configuration
  CHANGELOG.md
  README.md
  package.json
  scripts/generate-tests.sh
  src/atomic/atoms/Avatar/Avatar.test.tsx
  src/atomic/atoms/Badge/Badge.test.tsx
  src/atomic/atoms/Button/Button.test.tsx
  src/atomic/atoms/Card/Card.test.tsx
  src/atomic/atoms/Checkbox/Checkbox.test.tsx
  src/atomic/atoms/Divider/Divider.test.tsx
  src/atomic/atoms/IconButton/IconButton.test.tsx
  src/atomic/atoms/Input/Input.test.tsx
  src/atomic/atoms/Spinner/Spinner.test.tsx
  src/atomic/atoms/Switch/Switch.test.tsx
  src/atomic/atoms/Tag/Tag.test.tsx
  src/atomic/atoms/Text/Text.test.tsx
  src/atomic/atoms/Tooltip/Tooltip.test.tsx
  src/atomic/molecules/AlertBox/AlertBox.test.tsx
  src/atomic/molecules/Breadcrumb/Breadcrumb.test.tsx
  src/atomic/molecules/FormField/FormField.test.tsx
  src/atomic/molecules/InputWithLabel/InputWithLabel.test.tsx
  src/atomic/molecules/MenuList/MenuList.test.tsx
  src/atomic/molecules/Pagination/Pagination.test.tsx
  src/atomic/molecules/SearchBar/SearchBar.test.tsx
  src/atomic/molecules/UserInfo/UserInfo.test.tsx
  src/atomic/organisms/CardGrid/CardGrid.test.tsx
  src/atomic/organisms/Form/Form.test.tsx
  src/atomic/organisms/Header/Header.test.tsx
  src/atomic/organisms/Modal/Modal.test.tsx
  src/atomic/organisms/Table/Table.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

Fix package name for npm publishing
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

feat: add automated version management system
  .husky/post-commit
  .husky/pre-commit
  README.md
  docs/VERSION_MANAGEMENT.md
  package.json
  scripts/release.sh
  scripts/version-update.sh
Due: prettier --write

docs: add demo script for version management testing
  scripts/demo-version-management.sh
Due: none

fix: add missing eslint-disable for console statement in validation
  src/utils/validation.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

fix: update repository URL to kumasachin/dls
  package.json
Due: prettier --write

fix: update ThemeSwitcher story title to Design Tokens
  src/stories/atomic/tokens/ThemeSwitcher.stories.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

fix: resolve test failures and improve component accessibility
  src/atomic/atoms/Button/Button.tsx
  src/atomic/molecules/MenuList/MenuList.tsx
  src/atomic/organisms/Accordion/Accordion.tsx
  src/atomic/organisms/Form/Form.test.tsx
  src/atomic/organisms/Table/Table.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

fix: format index.css to resolve pre-push check
  src/index.css
Due: prettier --write

1.0.1
  package-lock.json
  package.json
Due: prettier --write

syntax error
  src/atomic/atoms/Image/Image.css
  src/atomic/atoms/Image/Image.test.tsx
  src/atomic/atoms/Image/Image.tsx
  src/atomic/atoms/Star/Star.css
  src/atomic/atoms/Star/Star.test.tsx
  src/atomic/atoms/Star/Star.tsx
  src/atomic/molecules/ListItem/ListItem.css
  src/atomic/molecules/ListItem/ListItem.test.tsx
  src/atomic/molecules/ListItem/ListItem.tsx
  src/atomic/molecules/Rating/Rating.css
  src/atomic/molecules/Rating/Rating.test.tsx
  src/atomic/molecules/Rating/Rating.tsx
  src/atomic/organisms/List/List.css
  src/atomic/organisms/List/List.test.tsx
  src/atomic/organisms/List/List.tsx
  src/index.ts
  src/stories/atomic/atoms/Image.stories.tsx
  src/stories/atomic/molecules/ListItem.stories.tsx
  src/stories/atomic/molecules/Rating.stories.tsx
  src/stories/atomic/organisms/List.stories.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

feat: Add comprehensive list component system with Image, ListItem, and List
  src/atomic/atoms/Button/button.css
Due: prettier --write

- case sensetive issue in button
  src/atomic/atoms/Button/Button.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'npm run type-check'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,html,css})) or (any of: package.json)
  bash -c 'npm run type-check': any of: *.{js,jsx,ts,tsx}
